
/.vs
/build-obj
/build
*.vcxproj
*.filters
*.user
*.csproj
/ipclibcs/.vs
CortexEditor/atlas.png
CortexEditor/glut32.dll
CortexEditor/PhysX_64.dll
CortexEditor/PhysXCommon_64.dll
CortexEditor/PhysXCooking_64.dll
CortexEditor/PhysXDevice64.dll
CortexEditor/PhysXFoundation_64.dll
CortexEditor/PhysXGpu_64.dll
CTReconstructorApp/glut32.dll
CTReconstructorApp/Mains/fbp_cone_fdk_main.cpp
CTReconstructorApp/PhysX_64.dll
CTReconstructorApp/PhysXCommon_64.dll
CTReconstructorApp/PhysXCooking_64.dll
CTReconstructorApp/PhysXDevice64.dll
CTReconstructorApp/PhysXFoundation_64.dll
CTReconstructorApp/PhysXGpu_64.dll
GraphicsCortex/Models/circuit/nogaro.obj
GraphicsCortexApp/glut32.dll
GraphicsCortexApp/PhysX_64.dll
GraphicsCortexApp/PhysXCommon_64.dll
GraphicsCortexApp/PhysXCooking_64.dll
GraphicsCortexApp/PhysXDevice64.dll
GraphicsCortexApp/PhysXFoundation_64.dll
GraphicsCortexApp/PhysXGpu_64.dll
/CTReconstructorApp/pen
/CTReconstructorApp/pipe
/CTReconstructorApp/reconstruction
/ImageCortex
/CortexEditorWPF
GraphicsCortexApp/jpeg62.dll
GraphicsCortexApp/liblzma.dll
GraphicsCortexApp/tiff.dll
GraphicsCortexApp/zlib1.dll
CortexEditor/zlib1.dll
CortexEditor/tiff.dll
CortexEditor/liblzma.dll
CortexEditor/jpeg62.dll
/GraphicsCortex/Release
/GraphicsCortex/Release Editor
/GraphicsCortex/Images/.vs
/CortexEditor/Release
/CortexEditor/Release Editor
GraphicsCortex.sln
CTReconstructorApp/jpeg62.dll
*.dll
GraphicsCortexApp/atlas.png
GraphicsCortex/Dependencies/assimp/lib/assimp-vc143-mt.lib
GraphicsCortex/Dependencies/assimp/lib/assimp-vc143-mt.pdb
GraphicsCortex/Dependencies/assimp/lib/zlib.dll
GraphicsCortex/Dependencies/assimp/lib/zlib.exp
GraphicsCortex/Dependencies/assimp/lib/zlib.lib
GraphicsCortex/Dependencies/assimp/lib/zlibstatic.lib
GraphicsCortex/Dependencies/assimp/lib_debug/assimp-vc143-mtd.lib
GraphicsCortex/Dependencies/assimp/lib_debug/assimp-vc143-mtd.pdb
GraphicsCortex/Dependencies/assimp/lib_debug/zlibd.dll
GraphicsCortex/Dependencies/assimp/lib_debug/zlibd.exp
GraphicsCortex/Dependencies/assimp/lib_debug/zlibd.lib
GraphicsCortex/Dependencies/assimp/lib_debug/zlibstaticd.lib
GraphicsCortex/Dependencies/assimp/lib_debug/zlibstaticd.pdb
GraphicsCortex/Dependencies/assimp/lib/IrrXML.lib
GraphicsCortex/Dependencies/assimp/lib_debug/IrrXMLd.lib
/GraphicsCortex/ModelsKhronos
/GraphicsCortex/Models/bmw
/GraphicsCortex/Models/Sponza
/GraphicsCortex/Models/gun
/GraphicsCortex/Models/sanmiguel
/GraphicsCortex/Models/sibenik
/RubiksCube
CortexPackagerApp/bank.txt
bank.txt
CTReconstructorApp/reconstruct.exe
/CortexPackager
CTReconstructorApp/ctanalyzer.hbv
CTReconstructorApp/imgui.ini
/CTAnalyzerNeo
/Ludocian
