
.vs/OpenGl/v16/Browse.VC.db
.vs/OpenGl/v16/ipch/AutoPCH/3b672ec5414acb89/APPLICATION.ipch
.vs/OpenGl/v16/ipch/AutoPCH/67a3ad79644b2c7e/SOURCE.ipch
.vs/OpenGl/v16/ipch/AutoPCH/777bde8cead9f82f/OPENGLRENDERER.ipch
OpenGl/Debug/vc142.pdb
OpenGl/Debug/vc142.idb
OpenGl/Debug/Source.obj
OpenGl/Debug/OpenGl.tlog/link.write.1.tlog
OpenGl/Debug/OpenGl.tlog/CL.write.1.tlog
OpenGl/Debug/OpenGl.tlog/CL.read.1.tlog
OpenGl/Debug/OpenGl.log
OpenGl/Debug/Application.obj
OpenGl/Debug/OpenGl.tlog/CL.command.1.tlog
OpenGl/Debug/OpenGl.tlog/link.command.1.tlog
OpenGl/Debug/OpenGl.tlog/link.read.1.tlog
OpenGl/Debug/OpenGl.tlog/OpenGl.lastbuildstate
OpenGl/Debug/openglrenderer.new.obj.enc
OpenGl/Debug/OpenglRenderer.obj
OpenGl/Debug/OpenGl.exe.recipe
Debug/OpenGl.exe
Debug/OpenGl.ilk
Debug/OpenGl.pdb
.vs/OpenGl/v16/Browse.VC.opendb
.vs/OpenGl/v16/Browse.VC.db-wal
.vs/OpenGl/v16/Browse.VC.db-shm
.vs/OpenGl/v16/ipch/AutoPCH/64353718d690d201/RENDERER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/73ea135e348c1ef0/RENDERER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/c79d7abd466ab02e/SHADERCOMPILER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/d5ad3b9614f8fd9b/SHADERCOMPILER.ipch
OpenGl/Debug/Renderer.obj
OpenGl/Debug/ShaderCompiler.obj
.vs/OpenGl/v16/ipch/AutoPCH/69ef14cfb254e902/DEBUGER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/ec399e0ece06ee5f/DEBUGER.ipch
OpenGl/Debug/Debuger.obj
OpenGl/Debug/openglrenderer.obj.enc
.vs/OpenGl/v16/ipch/AutoPCH/942142822b65e154/BUFFER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/cbb54b1ff357145d/BUFFER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/2cafade1c891fd63/DRAWER.ipch
.vs/OpenGl/v16/ipch/AutoPCH/f38f712e739626a2/GRAPHIC.ipch
.vs/OpenGl/v16/ipch/AutoPCH/9062908ddd31f826/FRAME.ipch
.vs/OpenGl/v16/ipch/AutoPCH/e9e461cda9f4d6db/FRAME.ipch
OpenGl/Debug/Frame.obj
.vs/OpenGl/v16/ipch/AutoPCH/9d3fa7e654e00690/STB_IMAGE.ipch
OpenGl/Debug/application.new.obj.enc
OpenGl/Debug/stb_image.obj
.vs/OpenGl/v16/ipch/AutoPCH/9aaeb11b17d0417f/GRAPHIC.ipch
OpenGl/Debug/Buffer.obj
OpenGl/Debug/Buffer.obj
*.ipch
OpenGl/Debug/frame.obj.enc
OpenGl/Debug/OpenGl.ilk
.vs/OpenGl/v16/TestStore/0/000.testlog
OpenGl/Debug/graphic.obj.enc
*.recipe
*.pdb
*.lastbuildstate
*.tlog
*.log
*.ipdb
*.iobj
*.lock
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.idb
.vs/OpenGl/v17/fileList.bin
Debug/OpenGl.exp
Debug/OpenGl.lib
OpenGl/OpenGl64.exp
OpenGl/OpenGl64.lib
OpenGl/Debug/Graphic.obj
OpenGl/Debug/Lights.obj
OpenGl/Debug/Scene.obj
OpenGl/Debug/Texture.obj
OpenGl/Debug/FrameBuffercpp.obj
OpenGl/Debug/Default_Assets.obj
OpenGl/Debug/CubeMap.obj
OpenGl/Debug/Camera.obj
OpenGl/Models/test3multimesh.obj
OpenGl/Release/Buffer.obj
OpenGl/Release/Camera.obj
OpenGl/Release/CubeMap.obj
OpenGl/Release/Debuger.obj
OpenGl/Release/Default_Assets.obj
OpenGl/Release/Frame.obj
OpenGl/Release/FrameBuffer.obj
OpenGl/Release/FrameBuffercpp.obj
OpenGl/Release/Graphic.obj
OpenGl/Release/Lights.obj
OpenGl/Release/OpenglRenderer.obj
OpenGl/Release/ProgramManager.obj
OpenGl/Release/Scene.obj
OpenGl/Release/ShaderCompiler.obj
OpenGl/Release/stb_image.obj
OpenGl/Release/Texture.obj
OpenGl/Release/UniformQueue.obj
OpenGl/Release/PhysicsContext.obj
OpenGl/Release/PhysicsGeometry.obj
OpenGl/Release/PhysicsLink.obj
OpenGl/Release/PhysicsObject.obj
OpenGl/Release/PhysicsScene.obj
OpenGl/Release/PhysicsVehicle.obj
OpenGl/Release/physx_vehicle_main.obj
OpenGl/Release/SnippetVehicle4WCreate.obj
OpenGl/Release/SnippetVehicleCreate.obj
OpenGl/Release/SnippetVehicleFilterShader.obj
OpenGl/Release/SnippetVehicleNoDriveCreate.obj
OpenGl/Release/SnippetVehicleSceneQuery.obj
OpenGl/Release/SnippetVehicleTankCreate.obj
OpenGl/Release/SnippetVehicleTireFriction.obj
OpenGl/Debug/FrameBuffer.obj
OpenGl/Debug/PhysicsContext.obj
OpenGl/Debug/PhysicsGeometry.obj
OpenGl/Debug/PhysicsLink.obj
OpenGl/Debug/PhysicsObject.obj
OpenGl/Debug/PhysicsScene.obj
OpenGl/Debug/PhysicsVehicle.obj
OpenGl/Debug/SnippetVehicle4WCreate.obj
OpenGl/Debug/SnippetVehicleCreate.obj
OpenGl/Debug/SnippetVehicleFilterShader.obj
OpenGl/Debug/SnippetVehicleNoDriveCreate.obj
OpenGl/Debug/SnippetVehicleSceneQuery.obj
OpenGl/Debug/SnippetVehicleTankCreate.obj
OpenGl/Debug/SnippetVehicleTireFriction.obj
OpenGl/Debug/UniformQueue.obj
OpenGl/Debug/FrameBuffer.obj
OpenGl/Debug/UniformQueue.obj
OpenGl/Debug/FrameBuffer.obj
OpenGl/Debug/UniformQueue.obj
OpenGl/Debug/FrameBuffer.obj
OpenGl/Debug/UniformQueue.obj
OpenGl/Dependencies/assimp/lib_debug/assimp-vc143-mtd.lib
OpenGl/Dependencies/assimp/lib_debug/IrrXMLd.lib
OpenGl/Dependencies/assimp/lib_debug/zlibd.dll
OpenGl/Dependencies/assimp/lib_debug/zlibd.exp
OpenGl/Dependencies/assimp/lib_debug/zlibd.lib
OpenGl/Dependencies/assimp/lib_debug/zlibstaticd.lib
OpenGl/Images/cartextures/911_22_930_chromes_BaseColor.png
OpenGl/Images/cartextures/911_22_930_chromes_Metallic.png
OpenGl/Images/cartextures/911_22_930_chromes_Roughness.png
OpenGl/Images/cartextures/911_22_930_plastics_BaseColor.png
OpenGl/Images/cartextures/911_22_930_plastics_Roughness.png
OpenGl/Images/cartextures/911_22_930_rim_BaseColor.png
OpenGl/Images/cartextures/911_22_930_rim_Metallic.png
OpenGl/Images/cartextures/911_22_930_rim_Normal.png
OpenGl/Images/cartextures/911_22_930_rim_Roughness.png
OpenGl/Images/cartextures/911_22_930_tire_BaseColor.png
OpenGl/Images/cartextures/911_22_930_tire_Normal.png
OpenGl/Images/cartextures/911_22_glass_BaseColor.png
OpenGl/Images/cartextures/911_22_glass_Metallic.png
OpenGl/Images/cartextures/911_22_glass_Roughness.png
OpenGl/Images/cartextures/911_22_paint_BaseColor.png
OpenGl/Images/cartextures/911_22_paint_Normal.png
OpenGl/Images/cartextures/911_22_paint_Roughness.png
OpenGl/Images/cartextures/930_body.png
OpenGl/Images/cartextures/930_lights.png
OpenGl/Images/cartextures/930_lights_alpha.png
OpenGl/Images/cartextures/930_lights_metallic.png
OpenGl/Images/cartextures/930_lights_nrm.png
OpenGl/Images/cartextures/930_plastics_AO.png
OpenGl/Images/cartextures/930_plate.png
OpenGl/Images/cartextures/930_plate_nrm.png
OpenGl/Images/cartextures/930_rim_AO.png
OpenGl/Images/cartextures/930_shadow.png
OpenGl/Images/cartextures/930_stickers.png
OpenGl/Images/cartextures/930_tire_AO.png
OpenGl/Images/cartextures/black.png
OpenGl/Images/cartextures/wunderbaum.png
OpenGl/Release/Default_Programs.obj
OpenGl/Release/Model.obj
OpenGl/Release/Object.obj
OpenGl/Debug/Model.obj
OpenGl/Debug/Object.obj
OpenGl/Release/Image.obj
OpenGl/Debug/Image.obj
OpenGl/Debug/Default_Programs.obj
OpenGl/Release/stb_image_write.obj
OpenGl/Release/alloc.obj
OpenGl/Release/async.obj
OpenGl/Release/dict.obj
OpenGl/Release/hiredis.obj
OpenGl/Release/net.obj
OpenGl/Release/read.obj
OpenGl/Release/sds.obj
OpenGl/Release/sockcompat.obj
OpenGl/saved_image.png
OpenGl/Release/RamCache.obj
OpenGl/Release/TextureArrayMain.obj
OpenGl/texture_array_save.png
OpenGl/Release/ApplicationMain.obj
OpenGl/Release/AssetImporter.obj
OpenGl/Release/BinaryBuffers.obj
OpenGl/Release/DirectoryUtils.obj
OpenGl/Release/FileMain.obj
OpenGl/Release/Mesh.obj
OpenGl/Release/AssetImporter.obj
OpenGl/Release/Mesh.obj
OpenGl/Release/stb_image_resize.obj
OpenGl/Release/ModelTextureTable.obj
GraphicsCortex/Dependencies/assimp/lib_debug/assimp-vc143-mtd.lib
GraphicsCortex/Release/ApplicationMain.obj
GraphicsCortex/Release/AssetImporter.obj
GraphicsCortex/Release/BinaryBuffers.obj
GraphicsCortex/Release/Buffer.obj
GraphicsCortex/Release/Camera.obj
GraphicsCortex/Release/CubeMap.obj
GraphicsCortex/Release/Debuger.obj
GraphicsCortex/Release/Default_Assets.obj
GraphicsCortex/Release/Default_Programs.obj
GraphicsCortex/Release/DirectoryUtils.obj
GraphicsCortex/Release/Frame.obj
GraphicsCortex/Release/FrameBuffer.obj
GraphicsCortex/Release/Graphic.obj
GraphicsCortex/Release/Image.obj
GraphicsCortex/Release/Lights.obj
GraphicsCortex/Release/Mesh.obj
GraphicsCortex/Release/Model.obj
GraphicsCortex/Release/ModelTextureTable.obj
GraphicsCortex/Release/Object.obj
GraphicsCortex/Release/PhysicsContext.obj
GraphicsCortex/Release/PhysicsGeometry.obj
GraphicsCortex/Release/PhysicsLink.obj
GraphicsCortex/Release/PhysicsObject.obj
GraphicsCortex/Release/PhysicsScene.obj
GraphicsCortex/Release/PhysicsVehicle.obj
GraphicsCortex/Release/RamCache.obj
GraphicsCortex/Release/Scene.obj
GraphicsCortex/Release/ShaderCompiler.obj
GraphicsCortex/Release/SnippetVehicle4WCreate.obj
GraphicsCortex/Release/SnippetVehicleCreate.obj
GraphicsCortex/Release/SnippetVehicleFilterShader.obj
GraphicsCortex/Release/SnippetVehicleNoDriveCreate.obj
GraphicsCortex/Release/SnippetVehicleSceneQuery.obj
GraphicsCortex/Release/SnippetVehicleTankCreate.obj
GraphicsCortex/Release/SnippetVehicleTireFriction.obj
GraphicsCortex/Release/stb_image.obj
GraphicsCortex/Release/stb_image_resize.obj
GraphicsCortex/Release/stb_image_write.obj
GraphicsCortex/Release/Texture.obj
GraphicsCortex/Release/UniformQueue.obj
.vs/GraphicsCortex/v17/fileList.bin
.vs/GraphicsCortex/v17/fileList.bin
GraphicsCortex/imgui.ini
GraphicsCortex/Release/GraphicsCortex.vcxproj.FileListAbsolute.txt
GraphicsCortex/Release/imgui example.obj
GraphicsCortex/Release/imgui.obj
GraphicsCortex/Release/imgui_draw.obj
GraphicsCortex/Release/imgui_impl_glfw.obj
GraphicsCortex/Release/imgui_impl_opengl3.obj
GraphicsCortex/Release/imgui_tables.obj
GraphicsCortex/Release/imgui_widgets.obj
GraphicsCortex/Release/GUI_SceneViewer.obj
.vs/GraphicsCortex/v17/fileList.bin
GraphicsCortex/Release/MathExample.obj
GraphicsCortex/Release/Matha.obj
GraphicsCortex/Release/Math.obj
GraphicsCortex/Release/Gui.obj
GraphicsCortex/Release/CortexMath.obj
GraphicsCortex/Release/GuiMain.obj
GraphicsCortex/Release/glm_test.obj
GraphicsCortex/Release/Default_Gui_Widgets.obj
GraphicsCortex/Release/DepthMap.obj
GraphicsCortex/Release/text rendering.obj
*.json
*.sqlite
GraphicsCortex/Images/.vs/Images/v17/.wsuo
GraphicsCortex/Release/Font.obj
GraphicsCortex/Debug/BinaryBuffers.obj
GraphicsCortex/Debug/DirectoryUtils.obj
GraphicsCortex/Debug/imgui.obj
GraphicsCortex/Debug/imgui_draw.obj
GraphicsCortex/Debug/imgui_impl_opengl3.obj
GraphicsCortex/Debug/imgui_tables.obj
GraphicsCortex/Debug/imgui_widgets.obj
GraphicsCortex/Debug/ModelTextureTable.obj
GraphicsCortex/Debug/stb_image.obj
GraphicsCortex/Debug/stb_image_resize.obj
GraphicsCortex/Debug/stb_image_write.obj
GraphicsCortex/Release/text_rendering2.obj
GraphicsCortex/Release/Text.obj
GraphicsCortex/Release/PipelineMain.obj
GraphicsCortex/Release/ApplicationMainPipeline.obj
GraphicsCortex/Release/PipelineMain.obj
GraphicsCortex/Release/RenderPipeline.obj
GraphicsCortex/Release/UniformUpdater.obj
GraphicsCortex/Models/circuit/nogaro.obj
GraphicsCortex/Release/CustomRenderPipelines.obj
GraphicsCortex/Release/CustomRenderPipelines.obj
GraphicsCortex/Release/CustomRenderPipelines.obj
GraphicsCortex/GraphicsCortex64.lib
CortexEditor/Release/Editor.obj
CortexEditor/Release/ApplicationMain.obj
GraphicsCortex/Release Editor/ApplicationMain.obj
GraphicsCortex/Release Editor/AssetImporter.obj
GraphicsCortex/Release Editor/BinaryBuffers.obj
GraphicsCortex/Release Editor/Buffer.obj
GraphicsCortex/Release Editor/Camera.obj
GraphicsCortex/Release Editor/CortexMath.obj
GraphicsCortex/Release Editor/CubeMap.obj
GraphicsCortex/Release Editor/CustomRenderPipelines.obj
GraphicsCortex/Release Editor/Debuger.obj
GraphicsCortex/Release Editor/Default_Assets.obj
GraphicsCortex/Release Editor/Default_Gui_Widgets.obj
GraphicsCortex/Release Editor/Default_Programs.obj
GraphicsCortex/Release Editor/DirectoryUtils.obj
GraphicsCortex/Release Editor/Font.obj
GraphicsCortex/Release Editor/Frame.obj
GraphicsCortex/Release Editor/FrameBuffer.obj
GraphicsCortex/Release Editor/Graphic.obj
GraphicsCortex/Release Editor/Gui.obj
GraphicsCortex/Release Editor/Gui2.obj
GraphicsCortex/Release Editor/Image.obj
GraphicsCortex/Release Editor/imgui.obj
GraphicsCortex/Release Editor/imgui_draw.obj
GraphicsCortex/Release Editor/imgui_impl_glfw.obj
GraphicsCortex/Release Editor/imgui_impl_opengl3.obj
GraphicsCortex/Release Editor/imgui_tables.obj
GraphicsCortex/Release Editor/imgui_widgets.obj
GraphicsCortex/Release Editor/Lights.obj
GraphicsCortex/Release Editor/Mesh.obj
GraphicsCortex/Release Editor/Model.obj
GraphicsCortex/Release Editor/ModelTextureTable.obj
GraphicsCortex/Release Editor/Object.obj
GraphicsCortex/Release Editor/PhysicsContext.obj
GraphicsCortex/Release Editor/PhysicsGeometry.obj
GraphicsCortex/Release Editor/PhysicsLink.obj
GraphicsCortex/Release Editor/PhysicsObject.obj
GraphicsCortex/Release Editor/PhysicsScene.obj
GraphicsCortex/Release Editor/PhysicsVehicle.obj
GraphicsCortex/Release Editor/RamCache.obj
GraphicsCortex/Release Editor/RenderPipeline.obj
GraphicsCortex/Release Editor/Scene.obj
GraphicsCortex/Release Editor/ShaderCompiler.obj
GraphicsCortex/Release Editor/SnippetVehicle4WCreate.obj
GraphicsCortex/Release Editor/SnippetVehicleCreate.obj
GraphicsCortex/Release Editor/SnippetVehicleFilterShader.obj
GraphicsCortex/Release Editor/SnippetVehicleNoDriveCreate.obj
GraphicsCortex/Release Editor/SnippetVehicleSceneQuery.obj
GraphicsCortex/Release Editor/SnippetVehicleTankCreate.obj
GraphicsCortex/Release Editor/SnippetVehicleTireFriction.obj
GraphicsCortex/Release Editor/stb_image.obj
GraphicsCortex/Release Editor/stb_image_resize.obj
GraphicsCortex/Release Editor/stb_image_write.obj
GraphicsCortex/Release Editor/Text.obj
GraphicsCortex/Release Editor/Texture.obj
GraphicsCortex/Release Editor/UniformQueue.obj
GraphicsCortex/Release/CustomRenderPipelines.obj
GraphicsCortex/Release/Gui2.obj
GraphicsCortex/Release/GuiMain2.obj
GraphicsCortex/Release/hiredis_example.obj
.vs/GraphicsCortex/v17/.suo
GraphicsCortex/atlas.png
CortexEditor/Release Editor/ApplicationMain.obj
CortexEditor/Release Editor/CortexEditor.vcxproj.FileListAbsolute.txt
CortexEditor/Release Editor/Editor.obj
GraphicsCortex/Release Editor/FrameBuffer2.obj
GraphicsCortex/Release Editor/GraphicsCortex.vcxproj.FileListAbsolute.txt
GraphicsCortex/Release Editor/Texture2D.obj
GraphicsCortex/Release Editor/TextureBase.obj
GraphicsCortex/Release/FrameBuffer2.obj
GraphicsCortex/Release/Texture2D.obj
GraphicsCortex/Release/TextureBase.obj
GraphicsCortex/Release/TextureSystemTest.obj
GraphicsCortex/Release/GraphicsTest.obj
build-obj/Release-x86_64CortexEditor/ApplicationMain.obj
build-obj/Release-x86_64CortexEditor/Editor.obj
build-obj/Release-x86_64GraphicsCortex/AssetImporter.obj
build-obj/Release-x86_64GraphicsCortex/BinaryBuffers.obj
build-obj/Release-x86_64GraphicsCortex/Buffer.obj
build-obj/Release-x86_64GraphicsCortex/Camera.obj
build-obj/Release-x86_64GraphicsCortex/CortexMath.obj
build-obj/Release-x86_64GraphicsCortex/CubeMap.obj
build-obj/Release-x86_64GraphicsCortex/Debuger.obj
build-obj/Release-x86_64GraphicsCortex/Default_Assets.obj
build-obj/Release-x86_64GraphicsCortex/Default_Gui_Widgets.obj
build-obj/Release-x86_64GraphicsCortex/Default_Programs.obj
build-obj/Release-x86_64GraphicsCortex/DirectoryUtils.obj
build-obj/Release-x86_64GraphicsCortex/Font.obj
build-obj/Release-x86_64GraphicsCortex/Frame.obj
build-obj/Release-x86_64GraphicsCortex/FrameBuffer.obj
build-obj/Release-x86_64GraphicsCortex/FrameBuffer2.obj
build-obj/Release-x86_64GraphicsCortex/Graphic.obj
build-obj/Release-x86_64GraphicsCortex/Gui.obj
build-obj/Release-x86_64GraphicsCortex/Image.obj
build-obj/Release-x86_64GraphicsCortex/imgui.obj
build-obj/Release-x86_64GraphicsCortex/imgui_draw.obj
build-obj/Release-x86_64GraphicsCortex/imgui_impl_glfw.obj
build-obj/Release-x86_64GraphicsCortex/imgui_impl_opengl3.obj
build-obj/Release-x86_64GraphicsCortex/imgui_tables.obj
build-obj/Release-x86_64GraphicsCortex/imgui_widgets.obj
build-obj/Release-x86_64GraphicsCortex/Lights.obj
build-obj/Release-x86_64GraphicsCortex/Mesh.obj
build-obj/Release-x86_64GraphicsCortex/Model.obj
build-obj/Release-x86_64GraphicsCortex/ModelTextureTable.obj
build-obj/Release-x86_64GraphicsCortex/Object.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsContext.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsGeometry.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsLink.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsObject.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsScene.obj
build-obj/Release-x86_64GraphicsCortex/PhysicsVehicle.obj
build-obj/Release-x86_64GraphicsCortex/RamCache.obj
build-obj/Release-x86_64GraphicsCortex/RenderPipeline.obj
build-obj/Release-x86_64GraphicsCortex/Scene.obj
build-obj/Release-x86_64GraphicsCortex/ShaderCompiler.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicle4WCreate.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleCreate.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleFilterShader.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleNoDriveCreate.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleSceneQuery.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleTankCreate.obj
build-obj/Release-x86_64GraphicsCortex/SnippetVehicleTireFriction.obj
build-obj/Release-x86_64GraphicsCortex/stb_image.obj
build-obj/Release-x86_64GraphicsCortex/stb_image_resize.obj
build-obj/Release-x86_64GraphicsCortex/stb_image_write.obj
build-obj/Release-x86_64GraphicsCortex/Text.obj
build-obj/Release-x86_64GraphicsCortex/Texture.obj
build-obj/Release-x86_64GraphicsCortex/Texture2D.obj
build-obj/Release-x86_64GraphicsCortex/TextureBase.obj
build-obj/Release-x86_64GraphicsCortex/UniformQueue.obj
build-obj/Release-x86_64GraphicsCortexApp/ApplicationMain.obj
build/Release-x86_64CortexEditor/CortexEditor.exe
build/Release-x86_64CortexEditor/CortexEditor.exp
build/Release-x86_64CortexEditor/CortexEditor.lib
build/Release-x86_64GraphicsCortex/GraphicsCortex.lib
build/Release-x86_64GraphicsCortexApp/GraphicsCortexApp.exe
build/Release-x86_64GraphicsCortexApp/GraphicsCortexApp.exp
build/Release-x86_64GraphicsCortexApp/GraphicsCortexApp.lib
CortexEditor/atlas.png
CortexEditor/CortexEditor.vcxproj
CortexEditor/CortexEditor.vcxproj.filters
CortexEditor/CortexEditor.vcxproj.user
CortexEditor/glut32.dll
CortexEditor/PhysX_64.dll
CortexEditor/PhysXCommon_64.dll
CortexEditor/PhysXCooking_64.dll
CortexEditor/PhysXDevice64.dll
CortexEditor/PhysXFoundation_64.dll
CortexEditor/PhysXGpu_64.dll
GraphicsCortex.sln
GraphicsCortex/CortexEditor64.exe
GraphicsCortex/CortexEditor64.exp
GraphicsCortex/CortexEditor64.lib
GraphicsCortex/glut32.dll
GraphicsCortex/GraphicsCortex.vcxproj
GraphicsCortex/GraphicsCortex.vcxproj.filters
GraphicsCortex/GraphicsCortex.vcxproj.user
GraphicsCortex/GraphicsCortex64.exe
GraphicsCortex/GraphicsCortex64.exp
GraphicsCortex/GraphicsCortex64.lib
GraphicsCortexApp/glut32.dll
GraphicsCortexApp/GraphicsCortexApp.vcxproj
GraphicsCortexApp/GraphicsCortexApp.vcxproj.user
GraphicsCortexApp/imgui.ini
GraphicsCortexApp/PhysX_64.dll
GraphicsCortexApp/PhysXCommon_64.dll
GraphicsCortexApp/PhysXCooking_64.dll
GraphicsCortexApp/PhysXDevice64.dll
GraphicsCortexApp/PhysXFoundation_64.dll
GraphicsCortexApp/PhysXGpu_64.dll
build-obj/windows-Release-x86_64CortexEditor/ApplicationMain.obj
build-obj/windows-Release-x86_64CortexEditor/Editor.obj
build-obj/windows-Release-x86_64GraphicsCortex/AssetImporter.obj
build-obj/windows-Release-x86_64GraphicsCortex/BinaryBuffers.obj
build-obj/windows-Release-x86_64GraphicsCortex/Buffer.obj
build-obj/windows-Release-x86_64GraphicsCortex/Camera.obj
build-obj/windows-Release-x86_64GraphicsCortex/CortexMath.obj
build-obj/windows-Release-x86_64GraphicsCortex/CubeMap.obj
build-obj/windows-Release-x86_64GraphicsCortex/Debuger.obj
build-obj/windows-Release-x86_64GraphicsCortex/Default_Assets.obj
build-obj/windows-Release-x86_64GraphicsCortex/Default_Gui_Widgets.obj
build-obj/windows-Release-x86_64GraphicsCortex/Default_Programs.obj
build-obj/windows-Release-x86_64GraphicsCortex/DirectoryUtils.obj
build-obj/windows-Release-x86_64GraphicsCortex/Font.obj
build-obj/windows-Release-x86_64GraphicsCortex/Frame.obj
build-obj/windows-Release-x86_64GraphicsCortex/FrameBuffer.obj
build-obj/windows-Release-x86_64GraphicsCortex/FrameBuffer2.obj
build-obj/windows-Release-x86_64GraphicsCortex/Graphic.obj
build-obj/windows-Release-x86_64GraphicsCortex/Gui.obj
build-obj/windows-Release-x86_64GraphicsCortex/Image.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui_draw.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui_impl_glfw.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui_impl_opengl3.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui_tables.obj
build-obj/windows-Release-x86_64GraphicsCortex/imgui_widgets.obj
build-obj/windows-Release-x86_64GraphicsCortex/Lights.obj
build-obj/windows-Release-x86_64GraphicsCortex/Mesh.obj
build-obj/windows-Release-x86_64GraphicsCortex/Model.obj
build-obj/windows-Release-x86_64GraphicsCortex/ModelTextureTable.obj
build-obj/windows-Release-x86_64GraphicsCortex/Object.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsContext.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsGeometry.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsLink.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsObject.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsScene.obj
build-obj/windows-Release-x86_64GraphicsCortex/PhysicsVehicle.obj
build-obj/windows-Release-x86_64GraphicsCortex/RamCache.obj
build-obj/windows-Release-x86_64GraphicsCortex/RenderPipeline.obj
build-obj/windows-Release-x86_64GraphicsCortex/Scene.obj
build-obj/windows-Release-x86_64GraphicsCortex/ShaderCompiler.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicle4WCreate.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleCreate.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleFilterShader.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleNoDriveCreate.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleSceneQuery.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleTankCreate.obj
build-obj/windows-Release-x86_64GraphicsCortex/SnippetVehicleTireFriction.obj
build-obj/windows-Release-x86_64GraphicsCortex/stb_image.obj
build-obj/windows-Release-x86_64GraphicsCortex/stb_image_resize.obj
build-obj/windows-Release-x86_64GraphicsCortex/stb_image_write.obj
build-obj/windows-Release-x86_64GraphicsCortex/Text.obj
build-obj/windows-Release-x86_64GraphicsCortex/Texture.obj
build-obj/windows-Release-x86_64GraphicsCortex/Texture2D.obj
build-obj/windows-Release-x86_64GraphicsCortex/TextureBase.obj
build-obj/windows-Release-x86_64GraphicsCortex/UniformQueue.obj
build-obj/windows-Release-x86_64GraphicsCortexApp/ApplicationMain.obj
build/windows-Release-x86_64CortexEditor/CortexEditor.exe
build/windows-Release-x86_64CortexEditor/CortexEditor.exp
build/windows-Release-x86_64CortexEditor/CortexEditor.lib
build/windows-Release-x86_64GraphicsCortex/GraphicsCortex.lib
build/windows-Release-x86_64GraphicsCortexApp/GraphicsCortexApp.exe
build/windows-Release-x86_64GraphicsCortexApp/GraphicsCortexApp.exp
build/windows-Release-x86_64GraphicsCortexApp/GraphicsCortexApp.lib
build-obj/windows-Release-x86_64GraphicsCortexApp/TextureSystemTest.obj
.vs/GraphicsCortex/v16/.suo
GraphicsCortexApp/test.png
build-obj/windows-Release-x86_64GraphicsCortex/BindlessMaterial.obj
